.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    color: #1E90FF;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #696969;
    margin-top: 20px;
  }
  